@model WebApplication1.Models.Cart

@{
    ViewData["Title"] = "Edit";
}

<section class="content">
    <div class="container-fluid">
       
        <h1>@localizer["confirm"]</h1>

        <h4>Cart</h4>
        <hr />

        <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden"  asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="Id" class="control-label">@localizer["no"]</label>
                        <input disabled asp-for="Id" />
                        <input asp-for="CreationDate" type="hidden" class="form-control" />
                        <span asp-validation-for="CreationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Discount" type="hidden" class="form-control" />
                        <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="PaymentDate" type="hidden" class="form-control" />
                        <span asp-validation-for="PaymentDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="TotalCost" type="hidden" class="form-control" />
                        <span asp-validation-for="TotalCost" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="StatusId" type="hidden" class="form-control" />
                        <span asp-validation-for="StatusId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="CardTypeId" type="hidden" class="form-control" />
                        <span asp-validation-for="CardTypeId" class="text-danger"></span>
                    </div>

                <div class="form-group">
                    <label asp-for="CartStatusId" class="control-label">@localizer["confirm"]</label>
                    <select tabindex="8" required asp-for="CartStatusId" class="form-control" asp-items=" ViewBag.Status"></select>
                    <span asp-validation-for="CartStatusId" class="text-danger"></span>

                </div>
           

                <div class="form-group">
                    <input type="submit" value=@localizer["confirm"] class="btn btn-info" />
                    <a class="btn btn-warning" asp-action="Index">@localizer["back"]</a>
                </div>
            
            </form>
        </div>
    </div>

    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
